.idea/
.DS_Store

# ignore python
__pycache__/
.venv

# build files
tests/tmp
src/mods/generated_mods
tools/pip_package/tmp-*

# test logs
fake_bpy_module_test.log

# ignore artifacts
release
raw_modules

# ignore blender downloads
downloads

# ingore act-artifacts
tests/github_actions_tests/act_artifacts