.idea/
.DS_Store
.vscode

# ignore python
__pycache__/
.venv

# build files
tests/tmp
src/gen_module-tmp
src/mods/generated_mods
tools/pip_package/tmp-*
/build/

# test logs
fake_bpy_module_test.log

# ignore artifacts
release
raw_modules

# ignore blender downloads
downloads
